.loading { 
  text-align: center;
}

.error {
  text-align: center;
  color: red;
}

.meals {
    /* max-width: 60rem; */
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
.meals ul {
  display: grid;
  width: 100%;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  .meals ul  { grid-template-columns: repeat(2, 1fr); }
}
@media  (min-width: 900px) {
  .meals ul  {grid-template-columns: repeat(3, 1fr);}
}


@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}