.carousel {
    text-align: center;
    width: 100%;
    color: white;
  }
  
  .carousel h3 {
    font-size: 2rem;
    margin-top: 10px;
  }

  .carousel img {
    width: 100vw;
    object-fit: cover;
  }

  .carousel, .carouselItem {
    height: 50vh;
  }