.header {
    position: fixed;
    /* padding: 0.5rem; */
    width: 100%;
    z-index: 50;
    background-color: white;
}

.header img {
    max-height: 70px;
    width:auto;
}

.brandName {
    font-size: 30px;
    font-weight: bold;
}