.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }

.modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 16px;
    left: 15%;
    top: 20vh;
    box-sizing: border-box;
    animation: slide-down 300ms ease-out forwards;
}
@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@media (min-width: 768px) {
.modal {
    width: 40rem;
    left: calc(50% - 20rem);
}
}
  
.modal__footer {
   
    height: 100px;
    width: 100%;
}

.modal__content {
   
    width: 100%;
    bottom: 100px;
    overflow-y: auto;
}
   